.mainchat
  .mainchat__groupheader
    .mainchat__groupheader__title
      .mainchat__groupheader__title__text
        = @group.name
      .mainchat__groupheader__title__member
        Member :
        - @group.users.each do |user|
          = user.nickname
    .mainchat__groupheader__edit
      = link_to "Edit", edit_group_path(@group), class: "mainchat__groupheader__edit__btn"
  .mainchat__messages
    = render @messages
    
    
  .mainchat__messageform
    = form_for [@group, @message] ,html:{ class: 'mainchat__messageform__content' } do |f|
      .mainchat__messageform__content__form-input
        = f.text_field :body, class: 'mainchat__messageform__content__form-input__text', name: :message, placeholder: :"type a message"
        = f.label :image, class: 'mainchat__messageform__content__form-input__icon' do
          = icon('fas', 'image', class: "mainchat__messageform__content__form-input__icon--image")
          = f.file_field :image, class: 'mainchat__messageform__content__form-input__icon--file'
      = f.submit 'Send', class: 'mainchat__messageform__content__send-btn', name: :submit