.sidebar
  .sidebar__username
    .sidebar__username__title
      .sidebar__username__title__nickname
        = current_user.nickname
      .sidebar__username__title__icon
        .sidebar__username__title__icon__edit
          = link_to "#", class: "sidebar__username__title__icon__edit--btn" do
            = icon('far', 'edit')
        .sidebar__username__title__icon__cog
          = link_to edit_user_path(current_user), class: "sidebar__username__title__icon__cog--btn" do
            = icon('fas', 'cog')
  .sidebar__grouplist
    .sidebar__grouplist__group
      .sidebar__grouplist__group__group-name
        tech-camp
      .sidebar__grouplist__group__group-text
        まだメッセージがありません
    .sidebar__grouplist__group
      .sidebar__grouplist__group__group-name
        tech-camp
      .sidebar__grouplist__group__group-text
        まだメッセージがありません
    .sidebar__grouplist__group
      .sidebar__grouplist__group__group-name
        tech-camp
      .sidebar__grouplist__group__group-text
        まだメッセージがありません